@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: white;
  --secondary-color: #233C2F;
  --nuetral-color: #170f0f;
  --primary-color-100: #87290d;

}

img {
  max-width: 706px;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
  color: var(--primary-color);
  background-image: url("../ASSETS/pexels-photo-5346865.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Header Styling */
header {
  margin-top: 0px;
  width: 100%;
  margin: auto;
  padding: 9px;
  z-index: 1000;
  /* background-color: #f4ecec; */
  color: #fbf5f5;
  position: fixed;
  border-radius: 1em;
  top: 0;
}


/* Nav styling */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: var(--secondary-color-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

nav a:hover {
  color: var(--primary-color);
  background-color: var(--primary-color-100);
  border-radius: 1rem;
  padding: 8px;
  transition: background-color .3s ease-in, color 0.3s ease-in;

}

/* Input styling Search Input */

input {
  display: flex;
  width: 100%;
  background-color: var(--secondary-color-color);
  color: var(--primary-color);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}


/* Styling Movie Content/ title/popularity */

p {
  background-color: var(--primary-color);
  color: var(--secondary-color-200);
  overflow: hidden;
  padding: 15px;
  opacity: 0;
  transform: translateY(-20px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

p:hover {
  background-color: #233C2F;
  border-radius: 10px;
  color: var(--secondary-color-color);
  opacity: 1;
  transform: translateY(0);

}






/* Animation for App Tittle */

@keyframes mymove {
  0% {
    /* Starting position */
    transform: translateY(0);
  }

  100% {
    /* Ending position */
    transform: translateX(100px);
  }
}

h1 {
  animation: mymove 2.3s ease-in-out 3.5s;
}




.movie-title-container {
  width: 50%;
  margin: 8em auto;
  align-items: center;
  border-radius: 10px;
}

h1 {

  justify-content: center;
  margin-top: 3em;
}

h5 {
  font-size: 1em;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
}

.movie-title-container h1 {
  color: var(--secondary-color-color);
  text-align: center;
  width: 100%;

}

.logo img {
  width: 20%;
  margin-top: 1em;
  border-radius: 50%;

}


/* Styling the image content  */
.movie {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  margin-top: 10em;


}

.movie_item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: auto;

}

& img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;

}


/* Styles for the watchlist grid */
#watchlist-grid {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0px auto;
  margin-top: 15em;
  margin-right: 15em;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

}


/* Button styling */
button {
  width: 100px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  background-color: #233C2F;
  color:var(--primary-color);
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: var(--primary-color-100);
  color: var(--primary-color);
  transform: translateY(-10px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}


p {
  margin: 10px;
}


.searchBarMovie {
  display: flex;

}

#movieGrid {
  margin: auto;

}




/* Movie Details Styling */
.movie-details {
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 700px;
}

.movie-details h2 {
  font-size: 2rem;
  margin-top: 4em;
}

.movie-details p {
  margin: 10px;
  font-size: 1.2rem;
}

.movie-details iframe {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  margin: auto;
}



.main {
  padding: 20px;
}

/* Styling the Hamburger */
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: ' ';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
  position: relative;
}


/* Active state */
.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
  /* Hide the middle bar */
}


.mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 50%;
  min-height: 100vh;
  z-index: 98;
  background-color: #233C2F;
  margin-top: 120px;
  transition: .4s;

}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto 16px;
  margin-top: 16px;
  text-align: center;
  margin-bottom: 16px;
  padding: 12px 16px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;

}

.mobile-nav a:hover {
  background-color: var(--primary-color);
  color: black
}

footer {
  background-color: var(--primary-color-100);
  color: #fff;
  padding: 2em;
  margin-top: 10em;
  text-align: center;
}